html
    form(method="post",action='')
        input(type="text",name='username',placeholder = 'username',required="true")
        input(type="password",name='password',placeholder='password',required="true")
        input(type="text",name='phone',placeholder='phone',required="true")
        input(type="email",name='email',placeholder='email',required="true")
        button OK